@import "../../styles/styles.scss";

.work-list {
  ul {
    list-style-type: none;
    margin: $lineHeight 0;
    padding: 0;
    li {
      .persistent-work-info {
        .work-list-item {
          .nav-link {
            &.nav-link-active {
              font-family: $primaryFontBold;
              .active-work-info {
                display: flex;
                line-height: $lineHeight;
                font-size: $fontSize;
              }
            }
          }
        }
      }
      .active-work-info {
        display: none;
      }
    }
  }
}
