@import "../../styles/styles.scss";

.work-list {
  ul {
    list-style-type: none;
    margin: $lineHeight 0;
    padding: 0;
    li {
      .persistent-work-info {
        .work-details{
          .nav-link {
            &.nav-link-active {
              font-family: $primaryFontBold;
              .active-work-info {
                display: flex;
              }
            }
            .details-container {
              .work-detail-item {
                &.work-year {
                  font-family: $secondaryFont;
                  max-width: $buffer*6;
                  margin-right: $buffer*4;
                }
                &.work-id {
                  font-family: $secondaryFont;
                  text-align: right;
                  max-width: $buffer*4;
                  margin-right: $buffer*4;
                }
                &.work-name {
                }
              }
            }
          }
        }
      }
      .active-work-info {
        display: none;
        padding: $lineHeight 0;
      }
    }
  }
}
