@import "../../styles/styles.scss";

.work-id {
  // background: $bgBody;
  font-family: $secondaryFont;
  font-weight: 600;
  font-size: $fontSizeCaption;
  width: $captionHeight;
  position: absolute;
  right: -$captionHeight;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .id-list {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    .id-list-item {}//id-list-item
  }//id-list
}//work-id
