@import "../../styles/styles.scss";

.work-details {
  .work-detail-item {
    &.work-year {
      font-family: $secondaryFont;
      max-width: $buffer*6;
      margin-right: $buffer*4;
    }
    &.work-id {
      font-family: $secondaryFont;
      text-align: right;
      max-width: $buffer*4;
      margin-right: $buffer*4;
    }
    &.work-name {
      font-family: $primaryFont;
    }
  }//work-detail-item
  .work-info-item {
    margin: $lineHeight 0;
  }
}//work-details