@import "../../styles/styles.scss";

.image-wrapper {
    height: 85vh;
    max-height: 700px;
    margin-bottom: $captionBuffer !important;
    @include breakpoint(sm) {
      height: 60vh;
      min-height: auto;
    }
    @include breakpoint(xs) {
      height: 35vh;
      min-height: auto;
    }
}