body {
  margin: 0;
  padding: 18px;
  color: #333333;
}

p {
  font-size: 16px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 18px;
  font-family: serif;
}

div.container {
  display: flex;
  gap: 18px;
}
div.container > div.column {
  width: 700px;
}
div.container > img {
  width: 320px;
}

a:link {
  color: #333333;
}
a:visited {
  color: #333333;
}
a:hover {
  color: #333333;
  cursor: pointer;
}
a:active {
  color: #333333;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  div.container {
    flex-direction: column;
  }
  div.container > div.column {
    width: 100%;
  }
  div.container > img {
    width: 100%;
  }

}
