body {
  margin: 0;
  padding: 12px;
  font-size: 18px;
  line-height: 24px;
  font-family: sans-serif;
  letter-spacing: .15rem;
  color: green;
}

p {
  margin-top: 0;
  margin-bottom: 24px;

}

a:link {
  color: green;
  text-decoration: underline;
}
a:visited {
  color: green;
}
a:hover {
  color: green;
  cursor: pointer;
}
a:active {
  color: green;

  cursor: pointer;
}

