body {
  margin: 0;
  padding: 32px;
  color: black;
}
section {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 32px;
  animation: 1.5s ease-in-out fadeIn;
}
section > img {
  width: 100%;
  margin-bottom: 32px;
}
section > img:last-child {
  margin-bottom: 0;
}
section:last-child {
  margin-bottom: 0;
}
p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Helvetica Neue', serif;
}
p.small {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Helvetica Neue', sans-serif;
}
p.no-margin {
  margin-bottom: 0;
}
span.small {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  font-family: 'Helvetica Neue', sans-serif;
}
p.title {
  margin-bottom: 16px;
}
.lightened {
  color: lightgray;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Helvetica Neue', serif;
}

a:link {
  color: black;
  text-decoration: none;
  transition: .25s ease-in-out all;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
  transition: .25s ease-in-out all;
}
a:active {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 24px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
