@import "../../styles/styles.scss";

.menu {
  padding: $buffer*4 $buffer*4 $buffer*4 $buffer*4;
  background: white;
  @include breakpoint(lg) {
    height: 100vh;
    width: 80vw;
    right: 0;
    position: fixed;
    transform: translateX(100%);
  }
  .menu-about {
      font-family: $primaryFont;
      font-size: $fontSizeStatement;
      line-height: $lineHeightStatement;
  }//menu-about
  .menu-description {
    font-family: $secondaryFont;
    font-size: $fontSize;
    line-height: $lineHeight;
    margin-top: $lineHeight;
  }//menu-description
}//menu
