@import "../../styles/styles.scss";

.menu {
  padding: $buffer*12 0;
  background: white;
  width: $menuWidth;
  overflow-y: scroll;
  @include breakpoint(md) {
    width: $menuWidthMd;
  }
  @include breakpoint(sm) {
    width: $menuWidthMobile;
  }
  height: 100vh;
  position: fixed;
  left: 0; top: 0;
  z-index: $zIndex3;
  border-right: 2px dotted $bgColorDark;
  .menu-section {
  font-size: $fontSize;
    ul {
      list-style-type: none;
      margin: 0; padding: 0;
      li {
        padding: $buffer*4;
        display: flex;
        justify-content: space-between;
        &:hover {
          cursor: pointer;
        }
      }
      &.page-list {
        a.page-link-active {
          li {
            background: $bgColorDark;
            color: $lightFontColor;
          }
        }
        li {
          border-bottom: 1px dotted $bgColorDark;
          &:hover {
            background: $bgColorDark;
            color: $lightFontColor;
          }
        }
      }
      &.projects-list {
        font-size: $fontSize;
        font-family: $secondaryFont;
        a.project-link-active {
          li {
            background: $bgColorLight;
            color: $darkFontColor;
          }
        }
        li {
          border-bottom: 1px dotted #ddd;
          &:hover {
            background: $bgColorLight;
            color: $darkFontColor;
          }
        }
        span {
          font-size: $fontSizeCaption;
          font-family: $primaryFontBold;
          margin-right: $buffer*4;
        }
      }
    }
  }
}
