@import "../../styles/styles.scss";

.grafted-spaces {
  .work-overview {
    margin-top: $buffer*8;
    padding: $buffer*32 0;
    p {
      margin: 0;
    }
    .overview-detail {
      font-size: $fontSize;
      line-height: $lineHeight;
    }
    .overview-description {
      font-size: $fontSizeParagraph;
      line-height: $lineHeightParagraph;
    }
  }
}
