@import "../../styles/styles.scss";

.site-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0; padding: 0;
  &.menu-opened {
    .menu {
      transform: translateY(0);
      transition: transform $timing $easingCubic;
    }
    .page-container {
      transform: translateY(0);
      transition: transform $timing $easingCubic;
      pointer-events: none;
      opacity: .5;
    }
  }//menu-opened
  &.menu-closed {
    .menu {
      transform: translateY(-$menuHeight);
      transition: transform $timing $easingCubic;
    }
    .page-container {
      transform: translateY(-$menuHeight);
      transition: transform $timing $easingCubic;
    }
  }//menu-closed
}//page-wrapper
