@import "../../styles/styles.scss";

.site-wrapper {
  // width: 100vw;
  // height: 100vh;
  // overflow-y: scroll;
  overflow-x: hidden;
  margin: 0; padding: 0;
  &.menu-opened {
    // overflow-y: hidden;
    // overflow-x: hidden;
    // position: fixed;
    &::-webkit-scrollbar {
      // width: 20px;
      // background: transparent;
    }
    .menu {
      transform: translateX(0%);
      transition: transform $timing*2 $easingCubic;
      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
    }
    .page-container {
      transform: translateX($menuWidth);
      transition: transform $timing*2 $easingCubic;
      @include breakpoint(sm) {
        transform: translateX($menuWidthMobile);
      }
      // overflow-y: hidden;
      // position: fixed;
    }
  }//menu-opened
  &.menu-closed {
    .menu {
      transform: translateX(calc(-100% - 1px));
      transition: transform $timing*2 $easingCubic;
    }
    .page-container {
      transition: transform $timing*2 $easingCubic;
    }
  }//menu-closed
}//page-wrapper
