@import "../../styles/styles.scss";

.fragments-container {
  width: 100%;
  position: relative;
  padding: $buffer*4;
  @include breakpoint(lg) {
    padding-right: $buffer*4;
  }
  .fragment {
    display: flex;
    align-items: flex-end;
    padding-left: $buffer*4;
    &:first-child {
      padding-left: 0;
    }
    img {
      width: 100%;
    }//img
  }//fragment
  .work-id {
    bottom: $buffer*4;
  }//work-id
}//fragment-container
