@import "../../styles/styles.scss";

.hero-container {
  height: 100vh;
  overflow: hidden;
  .hero-contents {
    padding: $buffer*4;
    height: 100%;
    .hero-image-section {
      background: $bgColorLight;
      height: 100%;
      .slide-container {
        height: 100%;
        div:first-child {
          height: 100%;
        }
        .react-slideshow-container {
          height: 100%;
          .react-slideshow-fade-wrapper {
            overflow: visible;
          }
          .each-slide {
            height: 100%;
            .slide-image {
              max-height: 100vh;
              width: 100%;
              background-size: cover;
              background-position: center center;
            }
            .caption {
              height: auto;
              width: 200px;
              position: absolute;
              bottom: 0;
              right: calc(-216px);
              font-family: $secondaryFont;
              line-height: $lineHeight/1.25;
              span {
                &.detail-id {
                  margin-right: $buffer*4;
                  font-family: $primaryFontBold;
                }
                &.detail-caption {}
                &.detail-work { font-style: italic; }
                &.detail-year { font-style: italic; }
              }
            }
          }
        }//react-slideshow-container
      }
    }//hero-image-section
    .hero-statement-section {
      padding-left: $buffer*4;
      .statement-wrapper {
        .statement-copy {
          font-size: $fontSizeStatement;
          line-height: $lineHeightStatement;
        }//statement-copy
      }//statement-wrapper
    }//hero-statement-section
  }//hero-contents
}//hero-container
