@import "../../styles/styles.scss";

.hero-container {
  // height: calc(100vh - 32px);
  height: 80vh;
  // overflow: hidden;
  @include breakpoint(sm) {
    height: auto;
  }
  .hero-contents {
    height: 100%;
    @include breakpoint(sm) {
      height: auto;
    }
    .hero-image-section {
      height: 100%;
      @include breakpoint(sm) {
        height: 80vh;
      }
    }//hero-image-section
    .hero-statement-section {
      padding: $buffer*4 $buffer*4 0 $buffer*4;
      @include breakpoint(sm) {
        // margin-top: $lineHeightParagraph;
        margin-top: $buffer*4;
      }
      .statement-wrapper {
        .statement-copy {
          font-family: $primaryFont;
          font-size: $fontSizeStatement;
          line-height: $lineHeightStatement;
          @include breakpoint(sm) {
            font-size: $fontSizeParagraph;
            line-height: $lineHeightParagraph;
          }
          p:first-child {
            margin-top: 0;
            @include breakpoint(sm) {
              margin-bottom: 0;
            }
          }
        }//statement-copy
      }//statement-wrapper
    }//hero-statement-section
  }//hero-contents
}//hero-container
