@import "../../styles/styles.scss";

.work-info {
  // font-family: $secondaryFont;
  font-size: $fontSizeParagraph;
  .info-string {
    display: inline;
    .name {
      margin-right: $buffer*8;
      font-family: $primaryFontBold;
      font-size: $fontSizeCaption;
    }
    .production-information {
      // font-style: italic;
    }
  }
}
