@import "../../styles/styles.scss";

.caption {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: -$captionHeight;
  height: $captionHeight;
  left: 0;
  width: 100%;
  background: white;
  opacity: 0;
  font-family: $secondaryFont;
  font-size: $fontSize;
  display: flex;
  align-items: center;
  padding: 0;
  li {
    padding-left: $buffer*8;
    &:first-child {
      padding-left: 0;
    }
    &.title {
      text-transform: uppercase;
    }//title
  }//li
  &.light {
    color: $lightFontColor;
  }//light
  &.dark {
    color: $darkFontColor;
  }//dark
}//caption
