@import "../../styles/styles.scss";

.caption {
  list-style-type: none;
  margin: 0;
  bottom: -$captionHeight;
  height: $captionHeight;
  width: 100%;
  font-size: $fontSizeCaption;
  display: flex;
  align-items: center;
  padding: 0;
  li {
    padding-left: $buffer*8;
    &:first-child {
      padding-left: 0;
    }
  }//li
  &.light {
    color: $lightFontColor;
  }//light
  &.dark {
    color: $darkFontColor;
  }//dark
}//caption
