@import "../../styles/styles.scss";

.work-image {
    height: 100%;
    background: $bgColorLight;
    position: relative;
    &:hover {
        .image-caption { opacity: 1;}
    }
    .image-block {
        height: 100%;
        flex-direction: column;
        overflow: hidden;
        .lazyload-wrapper {
            opacity: 0;
            @include animation(.5s, $easingRegular, 0s, fadeIn);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image-item {
            max-width: 70%;
            max-height: 70%;
            &.no-matte {
                text-align: center;
                margin-left: -10%;
                max-width: 120%;
                max-height: 120%;
                @include breakpoint(xs) {
                    margin-left: -15%;
                    max-width: 130%;
                    max-height: 130%;
                }
            }
            @include breakpoint(xs) {
                max-width: 85%;
                max-height: 75%;
            }
        }
    }//image-block
    .image-caption {
        position: absolute;
        bottom: -$captionHeight;
        height: $lineHeight*2;
        font-family: $secondaryFont; 
        opacity: 1;
        background: white;
        @include breakpoint(xs) {
            opacity: 1;
        }
        .caption-item {
            width: 100%;
            margin-left: calc(-8.333% - #{$buffer*4});
            @include breakpoint(sm) {
                margin-left: auto;
            } 
            .caption-text {
                &.item-year {
                    max-width: $buffer*8;
                    margin-right: $buffer*4;
                }
                &.item-id {
                    font-family: $secondaryFont;
                    text-align: right;
                    max-width: $buffer*4;
                    margin-right: $buffer*4;
                }
                &.item-name {
                    font-family: $primaryFont; 
                }
            }
        }
    }//image-caption
}