@import "../../styles/styles.scss";

.work-image {
  display: flex;
  position: relative;
  justify-content: center;
  height: 60vh;
  background: $bgColorLight;
  // margin-bottom: $buffer*4;
  overflow: hidden;
  &.matte {
    // padding: 10%;
    align-items: center;
    .image-item {
      height: 70%;
      width: auto;
      @include breakpoint(sm) {
        max-width: 60%;
        height: auto;
        padding: 10% 30% 10% 30%;
      }
    }
  }
  &.full {
    overflow: hidden;
    align-items: center;
    .image-item {
      width: 100%;
      height: auto;
      @include breakpoint(sm) {
        // height: 100%;
        width: 100%
      }
    }
  }
  &.dark {
    background: $bgColorDark;
  }
  &.light {
    background: $bgBody;
  }
  &.has-link {
    &:hover {
      .image-info {
        // opacity: 1;
        color: $darkFontColor;
        @include transition;
      }
      .image-item {
        cursor: pointer;
      }
    }
  }
  .image-item {
    height: 100%;
    width: auto;
  }
  .image-info {
    @include transition;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: $buffer;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    .image-work-name {
      font-size: $fontSize;
      line-height:$lineHeight;
    }
    .image-count {
      font-size: $fontSize;
      line-height:$lineHeight;
    }
  }
}
