$buffer:                            4px;

$bgBody:                             #ffffff;
$bgColorLight:                       #eaeaea;
$bgColorDark:                        #11111a;

$darkFontColor:                      $bgColorDark;
$lightFontColor:                     #AFBBC0;

$primaryFont:                        "Fann Grotesque", sans-serif;
$secondaryFont:                      "Fann Grotesque", sans-serif;

$fontSize:                           14px;
$fontSizeParagraph:                  $fontSize*1.35;
$fontSizeStatement:                  $fontSize*2;
$fontSizeHero:                       $fontSize*5;
$fontSizeCaption:                    $fontSize*.9;

$lineHeight:                         18px;
$lineHeightParagraph:                $lineHeight*1.45;
$lineHeightStatement:                $lineHeight*2;
$lineHeightHero:                     $lineHeight*4.5;
$lineHeightCaption:                  $lineHeight*.9;

$captionHeight:                      $buffer*8;
$menuHeight:                         50vh;

$timing:                             .25s;
$easingCubic:                        cubic-bezier(0.77, 0, 0.175, 1);
$easingRegular:                      ease-in-out;
$transitionCubic:                    all $timing $easingCubic;
$transitionRegular:                  all $timing $easingRegular;

$delay1:                             .25s;
$delay2:                             $delay1+$delay1;
$delay3:                             $delay1+$delay2;
$delay4:                             $delay1+$delay3;
$delay5:                             $delay1+$delay4;
$delay6:                             $delay1+$delay5;
$delay7:                             $delay1+$delay6;
$delay8:                             $delay1+$delay7;

$xs:                                 600px;
$sm:                                 960px;
$md:                                 1280px;
$lg:                                 1920px;

$zIndex1:                            1;
$zIndex2:                            2;
$zIndex3:                            3;
