@import "../../styles/styles.scss";

.aboutpage {
  .about-content {
    padding: $buffer*4;
    @include breakpoint(sm) {
      margin-top: $buffer*8;
    }
    .artist-statement {
      font-size: $fontSizeStatement;
      line-height: $lineHeightStatement;
      p:first-child {
        margin-top: 0;
      }
    }
    .about-details {
      padding-left: $buffer*4;
      @include breakpoint(sm) {
        padding: $buffer*4 0 0 0;
      }
      .details-section {
        font-family: $secondaryFont;
        margin-bottom: $lineHeight;
        font-size: $fontSizeParagraph;
        line-height: $lineHeightParagraph;
        .section-title {
          font-size: $fontSize;
          font-family: $primaryFontBold;
          margin-bottom: $lineHeight;
        }//section-title
        .section-item {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {}
        }
        .section-reference {
          .reference-quote {
            p {
              font-size: $fontSizeParagraph;
              line-height: $lineHeightParagraph;
            }
            span {
              font-family: $primaryFontBold;
              font-size: $fontSizeCaption;
              margin-right: $buffer*4;
            }
          }//reference-quote
          .reference-citation {
            margin-left: $buffer*8;
            width: 50%;
            font-family: $primaryFontBold;
            font-size: $fontSizeCaption;
            line-height: $lineHeightCaption;
            .author {
              // font-family: $primaryFontBold;
              // font-weight: bold;
            }//authro
            .title {
              font-style: italic;
            }//title
          }
        }
      }
    }
  }
}//homepage
