@import "../../styles/styles.scss";

.page-content-wrapper {
  &.homepage-page-content {
    .page-content-end-link {
      display: none;
    }
  }
  .page-content-end-link {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $fontSizeParagraph;
    border-top: 2px solid $darkFontColor;
  }
}//page-content-wrapper
