@import "../../styles/styles.scss";

.project-page{
  font-size: $fontSizeParagraph;
  .index-link {
    position: fixed;
    top: $buffer*2;
    left: $buffer*2;
  }
  .image-display-item {
    height: 90vh;
    @include breakpoint(xs) {
      height: 50vh;
    }
  }
}//project-page-container
