@import "../../styles/styles.scss";

.header-container {
  font-family: $primaryFontBold;
  font-size: $fontSize;
  line-height:$lineHeight;
  display: flex;
  align-items: center;
  color: $darkFontColor;
  z-index: $zIndex2;
  left: 0px;
  right: 0px;
  position: fixed;
  background: white;
  // outline: 2px dotted $bgColorLight;
  // border-bottom: 1px dotted #ccc;
  z-index: 100;
  @include breakpoint(sm) {
    // position: relative;
  }
  &.light {
    color: $lightFontColor;
  }
  .header-contents {
    padding: $buffer*4 $buffer*4;
    display: flex;
    justify-content: space-between;
    .menu-toggle {
      &:hover {
        cursor: pointer;
      }
    }
  }
}//header-container
