@import "../../styles/styles.scss";

.header-container {
  font-family: $secondaryFont;
  padding: $buffer*4;
  position: fixed;
  color: white;
  z-index: $zIndex1;
  width: inherit;
  max-width: inherit !important;
  .header-contents {
    display: flex;
    justify-content: space-between;
    .name {
    }//name
    .menu-toggler {
      &:hover {
        cursor: pointer;
      }
    }//menu-toggler
  }//header-contents
}//header-container
