@import "../../styles/styles.scss";

.header-container {
  font-family: $primaryFont;
  font-size: $fontSizeParagraph;
  height: $buffer*8;
  display: flex;
  align-items: center;
  position: fixed;
  color: $darkFontColor;
  z-index: $zIndex2;
  max-width: $md;
  width: 100%;
  .header-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include breakpoint(lg) {
      padding: 0 $buffer*4;
    }
    .name {
    }//name
    .what {
      font-style: italic;
    }//what
    .menu-toggler {
      &:hover {
        cursor: pointer;
      }
    }//menu-toggler
  }//header-contents
}//header-container
