@import "../../styles/styles.scss";

.text-block {
  padding: $buffer*8;
  font-size: $fontSizeParagraph;
  line-height: $lineHeightParagraph;
  display: flex;
  color: $darkFontColor;
  .block-label {
    margin-bottom: $lineHeightParagraph;
  }
  .block-content {
    @include breakpoint(sm) {
      margin-left: 0 !important;
    }
  }
}
