@import "../../styles/styles.scss";

.text-block {
  padding: $buffer*8;
  font-size: $fontSizeParagraph;
  line-height: $lineHeightParagraph;
  display: flex;
  flex-direction: column;
  .block {
    margin-bottom: $lineHeight;
    @include breakpoint(sm) {
      margin-left: 0 !important;
    }
    &.one {}
    &.two {}
    &.three {}
    &.four {}
    &.five {}
    &.six {}
  }
}
