@import "../../styles/styles.scss";

.whole {
  width: 100%;
  height: 80vh;
  position: relative;
  @include breakpoint(sm) {
    height: 50vh;
  }
  .whole-image-container {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }//whole-image-container
  &.matte {
    padding: 0 $buffer*4 $captionHeight $buffer*4;
    background: $bgColorDark;
    &.light {background: $bgColorLight;}
    &.dark {background: $bgColorDark;}
    .whole-image-container {
      max-width: 80%;
      max-height: 80%;
      background-size: contain;
    }//whole-image-container
  }
  &.full {
    padding: 0;
    .whole-image-container {
      background-size: cover;
    }//whole-image-container
  }
}//whole
