@import "../../styles/styles.scss";

.page-container {
  padding: $buffer*4 $buffer*4 $captionBuffer $buffer*4;
  max-width: $md;
  margin: 0 auto !important;
  overflow-x: hidden;
  .header {
    margin-bottom: $captionBuffer;
  }
  .list {
    margin-top: $buffer*4;
  }
  .home {
    font-family: $primaryFontBold;
  }
}
