@import "../../styles/styles.scss";

.footer {
  font-size: $fontSizeParagraph;
  line-height: $lineHeightParagraph;
  padding: $buffer*8;
  // border-top: 1px solid $bgColorLight;
  .header {
    // margin-bottom: $buffer*4;
    &.copyright {
      text-align: right;
      @include breakpoint(md) {
        text-align: left;
      }
    }
  }
  .list {
    // margin-bottom: $buffer*4;
    ul {
      list-style-type: none;
      margin:0;padding:0;
    }
  }
}
