@import "../../styles/styles.scss";

.homepage-container {
  .image-display-item {
    height: 40vh;
    min-height: 400px;
    max-height: 600px;
    margin-bottom: $captionBuffer;
    @include breakpoint(xs) {
      height: 50vh;
    }
    @include breakpoint(md) {
      height: 60vh;
    }
  }
  .bio {
    font-size: $fontSizeParagraph;
    line-height: $lineHeightParagraph;
  }
}//homepage
