@import "../../styles/styles.scss";

.nav {
  .home {
    font-family: $primaryFontBold;
  }
  ul {
    list-style-type: none;
    margin: $lineHeight 0;
    padding: 0;
    li {
      .persistent-work-info {
        .work-details{
          .nav-link {
            &.nav-link-active {
              font-family: $primaryFontBold;
              .active-work-info {
                display: flex;
              }
            }
            .work-detail {
              padding-right: $buffer*4;
              &.work-year, &.work-id {
                font-family: $secondaryFont;
              }
              &.work-name {}
            }
          }
        }
      }
      .active-work-info {
        display: none;
        padding: 0 0 $lineHeight 0;
      }
    }
  }
}
