@import "../../styles/styles.scss";

.nav {
  .home {
    font-family: $primaryFontBold;
  }
  ul {
    list-style-type: none;
    margin: $lineHeight 0;
    padding: 0;
    .nav-link {
      .active-work-info {
        display: none;
        padding: $lineHeight 0;
      }
      li {
        .work-id {
          // font-size: $fontSizeCaption;
          font-family: $secondaryFont;
        }
      }
      &.nav-link-active {
        .persistent-work-info {
          // color: #aaa;
          font-family: $primaryFontBold;
        }
        .active-work-info {
          display: flex;
        }
      }
    }
  }
}
