@import "../../styles/styles.scss";

.nav {
  .home {
    font-family: $primaryFontBold;
  }
  ul {
    list-style-type: none;
    margin: $lineHeight 0;
    padding: 0;
    li {
      padding-left: $buffer*11;
      text-indent: -$buffer*11;
    }
  }
}
