@import "../../styles/styles.scss";

.work {
  width: 100%;
  // margin-bottom: $captionHeight;
  height: 100%;
  position: relative;
  .caption {
    position: absolute;
    opacity: 0;
    @include transition;
  }//caption
  @include transition;
  &.work-link {
    &:hover {
      transform: translateY($buffer);
      cursor: pointer;
      @include transition;
      .caption {
        @include transition;
        opacity: 1;
      }
    }//hover  
  }
  .work-image-container {
    height: 100%;
    width: 100%;
    .work-image {
      width: 100%;
    }//work-image
  }//work-image-container
  &.matte {
    background: $bgColorDark;
    height: 80vh;
    &.light {background: $bgColorLight;}
    &.dark {background: $bgColorDark;}
    .work-image-container {
      max-width: 60%;
      max-height: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .work-image {
        max-height: 100%;
        width: auto;
      }
    }//Work-image-container
  }//matte
  &.full {
    padding: 0;
    .work-image-container {
      position: relative;
      display: flex;
      justify-content: flex-start;
    }//Work-image-container
  }//full
}//Work
