@import "../../styles/styles.scss";

.work {
  width: 100%;
  margin-bottom: $captionHeight;
  height: 100%;
  position: relative;
  // @include breakpoint(sm) {
  //   height: 50vh;
  // }
  .caption {
    position: absolute;
    opacity: 0;
  }//caption
  &:hover {
    .caption {
      opacity: 1;
    }
  }//hover
  .work-image-container {
    height: 100%;
    width: 100%;
    .work-image {
      width: 100%;
      max-height: 70vh;
    }//work-image
    &:hover {
      transform: translateY($buffer);
      @include transition;
      cursor: pointer;
    }
    @include transition;
  }//Work-image-container
  &.matte {
    background: $bgColorDark;
    height: 60vh;
    &.light {background: $bgColorLight;}
    &.dark {background: $bgColorDark;}
    .work-image-container {
      max-width: 80%;
      max-height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      .work-image {
        max-height: 100%;
        width: auto;
      }
    }//Work-image-container
  }//matte
  &.full {
    padding: 0;
    .work-image-container {
      position: relative;
      display: flex;
      justify-content: flex-start;
    }//Work-image-container
  }//full
}//Work
